@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;    
}
main {
    width: 360px;
    height: 640px;
    background-color: #f6f6f8;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-div {
    margin-top: 100px;
    text-align: center;    
}
.logo {
    width: 150px;
    justify-content: center;    
}
.entrada {
    text-align: center;
    width: 250px;
    justify-content: center;
}
.entrada p {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 30px;
}
.entrada input {
    width: 97%;
    height: 30px;
}
.link-login {
    text-decoration: none;
    color: #fff;
}
.login {
    margin-top: 30px;
    background-color: #000;
    width: 250px;    
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*HOME PAGE*/
.rodape{
    background-color: #f6f6f8;
    width: 100%;
    height: 40px;
    position: relative;
    top: 90px;
    text-align: center;
}
.rodape img {
    height: 100%;
    margin: 0 20px;
}
.boas-vindas{
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.boas-vindas p {
    font-size: 18pt;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 0;
}
.titulo-hp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.bloco{
    display: block;
    padding: 15px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}   
.titulo-hp p {
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    font-weight: 900;
}
.bloco a {
    font-weight: 400;
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    padding-right: 10px;
}

/*VAGAS RECOMENTADAS*/
.vagas-perfil {
    display: flex;
}
.vaga-h {
    background-color: #fff;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    width: 150px;
}
.vaga-h img {
    width: 60px;
    border-radius: 5px;
}
.vagas-perfil p {
    margin: 3px;
}
.titulo-vaga {
    padding-top: 5px;
    font-weight: bold;
}
.salario {
    font-size: 12pt;
}
.local {
    font-size: 10pt;
    color: rgba(0, 0, 0, .5);
}
.btn-vaga {
    display: block;
    background-color: #3FE075;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 10pt;
    border-radius: 5px;
}
/*VAGAS RECENTES*/
.vaga-v {
    margin: 5px;
    border-radius: 5px;
    display: flex;
}
.vaga-v div {
    background-color: #fff;
    display: flex;
    align-items: center;
}
.imagem{
    padding-left: 5px;
}
.vaga-v img {
    height: 50px;
    border-radius: 5px;  
    border-radius: 5px;
}
.vaga-v .btn-vaga {
    width: 70px;
    height: 15px;
    text-align: center;
}
.btn-h {
    padding-right: 5px;
}
.bloco-texto {
    flex-direction: column;
    padding: 0 5px;
}
.bloco-texto p {
    width: 100%;
    text-align: left;
    margin: 2px;
}
/*VAGAS*/
.volta img {
    height: 40px;
}
.vagas{
    align-items: center;
    padding-top: 5px;
    justify-content: center;
}
.rodape2 {
    top: 55px;
}
.entrada2{
    width: 85%;
}
/*CURRÍCULO*/
.curriculo {
    padding: 20px;
}
.curriculo2 {
    padding: 20px;
}
.entrada3 {
    margin-top: -20px;
    padding: 0;
}
.btn-curriculo {
    margin-top: 20px;
}
.rodape3 {
    top: 22px;
}